@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Recursive:wght@300..1000&display=swap');

html {
  scroll-behavior: smooth;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F9F7F7;
  color: #112D4E;
}

/* Navbar */
header {
  display: flex;
  background-color: #F9F7F7;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.goodjob-main-logo{
  width: 50px;
  cursor: pointer;
}

.div-middle-section{
  flex:1;
}

.language-icon{
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.div-right-section{
  display: flex;
  font-weight: 400;
  text-decoration: none;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: #112D4E;
  font-weight: 400;
  text-decoration: none;
}


/* LOGIN FORM  */

.main-container{
  position: fixed;
  left: 35%;
  display: flex;
  width: 35vw;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 101;
  background-image: url("/GoodJob/Images/about-us-section/bg.png");
  background-position:center;
  background-size: cover;
  border-radius: 10%;
  box-shadow: 1px 1px 8px 4px rgba(17, 45, 78, 0.473);

}

.container1 h1{
  color: #F9F7F7;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container2{
  padding: 10%;
  color: #F9F7F7;
  font-weight: 200;
  width: 20vw;
}

input{
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border:none;
  border-radius: 15px;
  border-bottom: 1px solid #112d4e;
}

input:focus{
  border-bottom: 3px solid #112d4e;
}

.container3{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.container3 button{
  width: 60%;
  color:#112D4E;
  font-size: 125%;
  border-radius: 25px;
  border: none;
  padding: 15px;
  width: 12vw;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 20px;
}

.container3 p{
  color: #F9F7F7;
  font-weight: 200;
}

.container3 span{
  font-weight: 500;
}

/* Hero Section */
#hero {
  color: #fff;
  height: 500px;
  display: grid;
  grid-template-rows: auto 1fr auto; /* One row for header, one for hero */
  max-height: 100vh;
}

.back-to-top{
  position: fixed;
  display: flex;
  bottom: 50px;
  right: 40px;
  width: 150px;
  color:#F9F7F7;
  border-radius: 50px;
  border: 1px solid #F9F7F7;
  background-color: #112D4E;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  padding: 5px;
}

.back-to-top p{
  margin-right: 6px;
}

/* Main Hero Container */
.hero-background{
  position: relative;
  top: -5%;
  grid-row: 3;
  width: 90%;
  height: 90%;
  object-fit: contain;
  object-position: center;
}

.hero-main-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Review section */
#review{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2;
}

#review img{
  width: 5%;
  margin-left: 10%;
  margin-right: 10%;
  flex: 1;
  cursor: pointer;
}

#review img:hover{
  transform: scale(1.09);
  box-shadow: 0px 0px 10px rgba(17, 45, 78, 0.3);
  border: 1px solid rgb(17, 45, 78);
  border-radius: 80%;
}

#review img.selected{
  transform: scale(1.09);
  box-shadow: 0px 0px 10px rgba(17, 45, 78, 0.3);
  border: 1px solid rgb(17, 45, 78);
  border-radius: 80%;
}

.fade-out {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.hidden {
  display: none;
}

.review-content{
  margin-top: 8%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(17, 45, 78);
  font-size: 15px;
}

.review-content-name {
  width: 30%;
  border-right: 1px solid #3F72AF;
  margin-left: 10%;
  margin-right: 5%;
  font-size: 1.6rem;
}

.review-content-name h2{
  font-weight: 500;
  font-size: 1.5rem;
}

.review-content-description{
  font-weight: 500;
  font-size: 1.5rem;
  flex:1;
}

/* Lower section */

.lower-section-about-us{
  background: linear-gradient(to bottom,#3a689c01,#3F72AF, #112D4E);
  z-index: -1;
}

/* About Us Section */

.div{
  width: 100%;
  height: 100px;
}
.group-circle-image{
  position: absolute;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  
  height: auto;
}
.class-circle-image1{
  position: absolute;
  top: 700%; /* Adjust as necessary */
  right: 0%; /* Keeps it to the top-right */
  width: 25vw; /* Set width as a percentage of viewport width */
  max-width: 270px; /* Maximum width to prevent it from getting too large */
  height: auto;
}

.class-circle-image2{
  position: absolute;
  top: 2300%; /* Adjust as necessary */
  right: 75%; /* Keeps it to the top-right */
  width: 25vw; /* Set width as a percentage of viewport width */
  max-width: 270px; /* Maximum width to prevent it from getting too large */
  height: auto;
}

.class-circle-image3{
  position: absolute;
  top: 2500%; /* Adjust as necessary */
  right: 10%; /* Keeps it to the top-right */
  width: 20vw; /* Set width as a percentage of viewport width */
  max-width: 270px; /* Maximum width to prevent it from getting too large */
  height: auto;
}

@media (max-width: 375px) {
  .group-circle-image{
    
    position: relative;
    right: 0;
  }
}

@media (max-width: 425px) {
  .group-circle-image{
    position: relative;
    right: 0;
  }
  .class-circle-image1{
    top: 1200%;
  }
  .class-circle-image2{
    top: 2500%;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .group-circle-image{
    position: relative;
    right: 0%;
  }
  .class-circle-image1{
    top: 1200%;
    width: 25vw;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .group-circle-image{
    position: relative;
    right: 0%;
  }
  .class-circle-image1{
    top: 1200%;
    width: 25vw;
  }
  
}

@media (min-width: 1024px) and (max-width: 1440px){
  .group-circle-image{
    position: relative;
    right: 0;
  }
  .class-circle-image1{
    top: 1200%;
    width: 25vw;
  }
}

@media (min-width: 1441px) and (max-width: 2560px){
  .group-circle-image{
    position: relative;
    right: 0;
  }
  .class-circle-image1{
    top: 1200%;
    width: 25vw;
  }
}

@media (max-width: 2701px) {
  .class-circle-image1{
    top: 1200%;
    width: 25vw;
  }
  .class-circle-image2 {
    top: 2500%; /* Adjust as necessary */
    right: 75%; /* Keeps it to the top-right */
    width: 25vw;
  }
  .class-circle-image3{
    top: 2800%; /* Adjust as necessary */
    right: 10%; /* Keeps it to the top-right */
    width: 20vw;
  }
}
@media (max-width: 3242px) {
  .class-circle-image1{
    top: 1100%;
    width: 25vw;
  }
  .class-circle-image2 {
    top: 2900%; /* Adjust as necessary */
    right: 75%; /* Keeps it to the top-right */
    width: 25vw;
  }
  .class-circle-image3{
    top: 3200%; /* Adjust as necessary */
    right: 10%; /* Keeps it to the top-right */
    width: 20vw;
  }
}

.container-about-us{
  position: relative;
  font-size: 1.3rem;
  padding: 5%;
  border-radius: 50px;
  width: 50%;
  height: 5%;
  background: #DBE2EE;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #b3bdc7;
  margin: 500px auto;
  box-shadow: 5px 3px 8px 2px rgba(17, 45, 78, 0.473);
}

.background-about-us{
  position: absolute;
  top: 15%;
  left: 5%;
  width: 100%;
  height: 100%;
    object-fit: cover;
    z-index: -1;
  border-radius: 110px;
  box-shadow: 5px 3px 8px 2px rgba(17, 45, 78, 0.473);
}

.background2-about-us{
  position: absolute;
  top: -15%;
  left: -5%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 110px;
  box-shadow: 5px 3px 8px 2px rgba(17, 45, 78, 0.473);
}

.container-about-us h2{
  text-align: left;
  color: #112D4E;
  font-weight: 900;
  margin-bottom: 3%;
}

.container-about-us p{
  color:#000000;
}

/* Footer */

.lower-section-footer{
  height: 50%;
  background: linear-gradient(to bottom,#3a689c01,#1b304b, #112D4E);
}

.footer-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.footer-title{
  display: flex;
  flex-direction: column;
  width: 65%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 4%;
  padding-bottom: 3%;
  height: 15%;
  gap: 15px;
  border-bottom: 1px solid #DBE2EE;
}
.footer-text{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 200%;
}

.footer-text img{
  border-radius: 50%;
  box-shadow: 5px 5px 9px 3px #181717;
}

.footer-title h1{
  font-size: 80px;
  color: #DBE2EE;
  margin-right: 25px;
  text-shadow: 3px 3px 8px #000000;
  line-height: 1.2;
}


.footer-title p{
  color: #DBE2EE;
  text-align: left;
  font-size: 1.3rem;
  margin-top: -8%;
  text-shadow: 3px 3px 8px #000000;
}

.footer-left-contacts-background{
  width: 100%;
  justify-content: center;
  align-items: center;

}

/* bg div */
.footer-bg{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* bg image of footer*/
.footer-contacts-and-downloads{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.footer-texts{
    display: flex;
    width: 90%;
    position: absolute;
    justify-content: space-between;
    color: white; /* Adjust color as needed */
    text-align: center;
    padding: 3%; /* Optional padding */
    font-size: 1.2rem;
    height: 70%;
}

.footer-texts{
  margin-top: 15px;
}

.footer-left-contacts{
  flex-direction: column;
  text-align: left;
  width: 120%;
  flex: 1;
}

.footer-left-images{
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds space between each icon and text block */
}

.footer-left-images div {
  display: flex;
  align-items: center; /* Aligns icon and text vertically */
  gap: 5px; /* Space between the SVG and text */
}

.footer-left-images svg {
  flex-shrink: 0; /* Prevents the SVG from shrinking */
}

.footer-right-downloads{
  text-align: right;
  width: 30vw;
  flex: 1;
}

.footer-right-downloads p{
  text-align: center;
  margin-left: 40%;
  margin-bottom: 3%;
}
.footer-right-downloads img{
  text-align: right;
  justify-content: end;
  width: 60%;
  cursor: pointer;
}